*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
--DarkBlue: hsl(233, 26%, 24%);
--LimeGreen: hsl(136, 65%, 51%);
--BrightCyan: hsl(192, 70%, 51%);
--GrayishBlue: hsl(233, 8%, 62%);
--LightGrayishBlue: hsl(220, 16%, 96%);
--VeryLightGray: hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%);
}
body{
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
}
img{
  width: 100%;
}
.mobile-navigation{
  position: fixed;
  top: 0;
  background-color: var(--White);
  width: 100%;
}

.nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em;
}

.logo{
  width: 45%;
}

.hamburger-menu{
  width: 8%;
}
.page__subtitle{
  font-weight: 300;
  color: var(--DarkBlue);
  font-size: 2.2rem;
  padding-top: 2em;
}

.why__container p{
  color:var(--GrayishBlue);
  margin:1.25em 0;
  line-height: 150%;
}

.background{
  background-image: url('images/bg-intro-mobile.svg');
}

.container{
  text-align: center;
  padding:0 1.25em;

}

.title{
  color: var(--DarkBlue);
  font-weight: 400;
  font-size: 2.5rem;
}

.sub-title{
line-height: 150%;
color:var(--GrayishBlue);
padding: 1.5em 0;

}

.features__section{
  background-color: var(--VeryLightGray);
  text-align: center;
  padding:0 1.25em;
}

.quality__container img{
width: 20%;
margin:1.55em 0;
}

.quality__container h3{
  color:var(--DarkBlue);
  margin-bottom:1em;
  font-weight: 300;
}


.mockup-img{
  margin-top: -6.5em;
}

.quality__container p{
  color:var(--GrayishBlue);
  line-height: 150%;
}

.article__container{
  padding:0 1.25em;
  background-color: var(--LightGrayishBlue);


}

.article__container h2{
  text-align: center;
}

.article__card{
  border-radius: 24px;
  background-color: var(--White);
  margin-bottom: 2em;
}

.author{
  color: var(--GrayishBlue);
  font-weight: 400;
  margin:1.25em 0;
  padding:0 1.5em;
}

.article__title{
  color: var(--DarkBlue);
  font-weight: 400;
  margin-bottom: .75em;
  padding:0 1.5em;
}

.article__details{
  color: var(--GrayishBlue);
  padding:0 1.5em;
  padding-bottom: 3em;
}
.footer__container{
  background-color: var(--DarkBlue);
}

.social-handles__container{
  margin:2em 0;
  padding:0 3em;
}
.social-handles{
  display: flex;
  justify-content: space-evenly;
}

.social--links{
  width:12%;
}

.social--links + .social--links{
  margin-left:1em ;
}



.footer__list{
  list-style: none;
  text-align: center;
}

.footer__item{
  margin-bottom: .75em;

}

.footer__item a{
  text-decoration: none;
  cursor:pointer;
  color: var(--VeryLightGray);
}

.btn__container{
  display: flex;
  justify-content: center;
}
.btn{
  display: inline-block;
  padding: .75em 2.75em;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  color: var(--White);
  margin:2em 0;
  background: linear-gradient(to right ,var(--LimeGreen),var(--BrightCyan));
}

.rights{
  text-align: center;
  color: var(--LightGrayishBlue);
  font-weight: 300;
  margin-bottom: 1em;
}

.attribution{
  color: var(--LimeGreen);
  padding-bottom: 1em;
}

.attribution a{
  text-decoration: none;
  color: var(--VeryLightGray);
}



@media (min-width:1200px) {
  .overall__container{
    margin:0 auto;
    width: 80%;
    max-width: 1120px;
  }

  .why__container{
    text-align: left;
    width: 65%;
  }

  .qualities{
    display: flex;
    text-align: left;
    padding-bottom: 3em;
  }
  .quality__container + .quality__container{
    margin-left: 1em;
  }
  .quality__container{
    width: 40%;
  }
}